/* 项目公共 css */
@import "../js/lib/vhannels/style/vhannels.style.css";

/* 顶栏 */
body {
    > footer {
        padding: 1.5rem 0;
        color: white;
        background: #476eff;

        a {
            color: white;
        }
    }
}

/* 按钮 */
.button {
    background: #476eff;

    &:hover {
        background: #111111;
    }
}

blockquote {
    border-left-width: 2px;
    background-color: rgba(255, 255, 255, 0.23);
}